.vs
Application/.vs
Application/bin
Application/obj

DataAccess/.vs
DataAccess/bin
DataAccess/obj

Domain/.vs
Domain/bin
Domain/obj

Football.Battle/.vs
Football.Battle/bin
Football.Battle/obj

Utils/.vs
Utils/bin
Utils/obj